<!DOCTYPE html>
<html>
<head>
	<mata content="text/html" charset="utf-8">
	<title>所有博文</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
	<div id="head">
		<h1>我的博客</h1>
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/blog/allblogs">博客列表</a></li>
			<li><a href="/blog/cat">博客分类</a></li>
			<li><a href="/blog/about">关于</a></li>
		</ul>
	</div>	
	<div id="wrap">
		{% if articles_list %}
		<ul class="list">
			{% for article in articles_list %}
			<li><a href="/blog/{{article.id}}">{{article.title}}</a><span>{{article.date}}</span></li>
			{% endfor%}
		</ul>
		{% endif %}
	</div>
	<footer><a href="https://github.com/TonitruiAula">GitHub@TonitruiAula</a> All Right Reserved.2016</footer>
</body>
</html>