<!DOCTYPE html>
<html lang="zh">
<mata content="text/html" charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
<head>
	<title>{{tag.name}}</title>
	<div class="head" style="height:100px;font-size:50px">标签为{{tag.name}}的博客</div>
</head>
<div class="last">
{% if articles %}
	<ul>
	{% for article in articles %}
		<li><a href="/blog/{{article.id}}/">{{article.title}}</a></li>
	{% endfor %}
	</ul>
{% else %}	
	<p>No articles are avaliable</p>
{% endif %}
</div>
</html>