<!DOCTYPE html>
<html>
<head>
	<mata content="text/html" charset="utf-8">
	<title>标签为{{tag.name}}的博文</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
	<script type="text/javascript" src="../../static/javascript/bdshare.js"></script>
	<script type="text/javascript" src="../../static/javascript/submit.js"></script>
</head>
<body>
	<div id="head">
		<h1>我的博客</h1>
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/blog/allblogs">博客列表</a></li>
			<li><a href="/blog/cat">博客分类</a></li>
			<li><a href="/blog/about">关于</a></li>
		</ul>
		<div id="searcharea">
		    <form method="get" action=".">
		    	<input type="text" id="content"></input>
		    	<h3 id="search" onclick="submit()">搜索</h3>
		    </form>
		</div>
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
			<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址">
			<a href="#" class="bds_more" data-cmd="more"></a>
		</div>
	</div>	
	<div id="wrap">
		{% if articles %}
		<ul class="list">
		<h2>标签为{{tag.name}}的博文:</h2>
			{% for a in articles %}
			<li>
				<a href="/blog/{{a.id}}">{{a.title}}</a>
				<span>{{a.date}}</span>
			</li>
			{% endfor%}
		</ul>
		{% else %}
		<h2>该标签没有文章</h2>
		{% endif %}
		<p class="pages">
		{% ifnotequal articles.paginator.num_pages 1 %}
			{% ifequal articles.number 1 %}
				上一页&nbsp;
			{% else %}
				<a href="?page={{ articles.previous_page_number }} ">上一页</a>
			{% endifequal %}
			{% for page_number in articles.paginator.page_range %}
		    	{% ifequal page_number  articles.number %}
		      		{{ page_number }}
		    	{% else %}
		      		<a href="?page={{ page_number }}">{{ page_number }}</a>
		    	{% endifequal %}
		  	{% endfor %}
			{% ifequal articles.number articles.paginator.num_pages %}
				下一页&nbsp;
			{% else %}
				<a href="?page={{ articles.next_page_number }} ">下一页</a>
			{% endifequal %}
		{% endifnotequal%}
		</p>		
		<footer><a href="https://github.com/TonitruiAula">GitHub@TonitruiAula</a> All Right Reserved.2016</footer>
	</div>
</body>
</html>